body {
    background-color: antiquewhite;
}
header{
    text-align: center;
    padding: 0px 0px 2px 0px;
}





/* Nav work start*/
nav {
    background-color: grey;
    padding: 2px 0px 2px 0px;

}
nav li {
    display: inline;
    padding: 0px 90px 0px 0px;

}
nav ul {
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Nav work end*/

/* div work start*/
div {
    text-align: center;
    margin: 40px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}

input {
    border-color: whitesmoke;
}

button {
    border-color: rosybrown;
}
/* div work start*/

/* footer work start*/
footer {
    text-align: center;
}
/* footer work ends*/